html, body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*background-color: #00cd00;*/

    background-color: white;
}

#menu {
    /*position: fixed;*/
    width: 100%;
    flex-direction: column;

    /*left: 20px;*/
    /*top: 20px;*/

    padding: 20px;

    z-index: 2;

    background-color: ghostwhite;

    transition: box-shadow 5s ease-in-out;
    border-radius: 2px;

    text-align: center;
}

#menu:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

#menu a:hover {
    color: #328fff;
}

#map {
    position: fixed !important;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    background-color: white;
}

#results {
    min-width: 500px;

    margin-top: 200px;

    /*display: b;*/
    padding: 20px;
    /*margin: 20px;*/
    background-color: lightcyan;
}

#constructor {
    /*position: fixed;*/
    display: none;

    min-width: 400px;
    /*min-height: 200px;*/
    background-color: ghostwhite;

    margin-top: 200px;

    z-index: 2;
    transition: box-shadow 5s ease-in-out;
    border-radius: 2px;

    text-align: center;
}

#constructor:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#constructor .field {
    /*padding: 10px;*/
}

.field {
    margin: 10px;
    background-color: white;
    border-radius: 2px;

    text-align: left;
}

.buttons {
    padding: 10px;
    text-align: left;
}

.button {
    cursor: pointer;
    padding: 10px;
}

.button:hover {
    color: #86c220;
}